img{
  width: 300px;
}
.btn{
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 20px auto;
}
.title{
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 20px auto;
}
.title span{
  border-bottom: 4px solid chocolate;
}